<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script>
	  // The main reason for this function is that highlightjs needs "pre" and "code" tags.
	  // This is verbose and it doesn't trim content of "code" tag so the first line
	  // has to be after the tag and this looks ugly.
	  function transformLanguageToCodeTagsOnLoad(hljs) {
		  document.addEventListener("DOMContentLoaded", function() {
			  const languages = ["groovy", "kotlin", "java", "lua", "javascript", "scheme", "x86asm", "plain-text"];
			  languages.forEach(function(language) {
				  $.each($(language), function(n, it) {
					  if (language === "plain-text") language = "plaintext"; // Rename so that there is no clash with plaintext html tag.
					  let element = $(it);
					  element.replaceWith(
						  "<pre><code class='" + language + "'>" + element.html().trim() + "</code></pre>"
					  );
				  });
			  });
			  hljs.configure({tabReplace: '    '});
			  hljs.initHighlighting();
		  });
	  }

	  function isDarkTheme() {
		  let theme = localStorage.getItem('theme');
		  return theme === 'dark' || (theme === null && window.matchMedia("(prefers-color-scheme: dark)").matches);
	  }

	  function toggleTheme() {
		  if (isDarkTheme()) {
			  localStorage.setItem('theme', 'light');
		  } else {
			  localStorage.setItem('theme', 'dark');
		  }
		  window.location.reload();
		  return false;
	  }

	  function appendStylesheet(href) {
		  const link = document.createElement('link');
		  link.rel = 'stylesheet';
		  link.href = href;
		  document.head.appendChild(link);
	  }

	  if (isDarkTheme()) {
		  appendStylesheet('/assets/css/style-dark.css')
		  appendStylesheet('/assets/css/idea-dark.css')
	  } else {
		  appendStylesheet('/assets/css/style.css')
		  appendStylesheet('/assets/css/idea.css')
	  }
  </script>

  <!-- Code examples highlighting -->
  <script src="/assets/js/jquery-2.2.4.min.js"></script>
  <script src="/assets/js/highlight.pack.js"></script>
  <script>transformLanguageToCodeTagsOnLoad(hljs);</script>
</head>
