/* colors */
$gray5: #e6e6e6;
$gray4: #bfbfbf;
$gray3: #a6a6a6;
$gray2: #737373;
$gray1: #262626;
$gray0: #1a1a1a;

$background: $gray0;
$pre-background: $background;
$header-background: $gray1;
$footer-background: $gray1;