/* colors */
$gray5: #2e2e2e;
$gray4: #808080;
$gray3: #c0c0c0;
$gray2: #F5F5F5;
$gray1: #fafafa;
$gray0: #ffffff;

$background: $gray1;
$pre-background: $background;
$header-background: $gray2;
$footer-background: $gray2;