.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    color: #A9B7C6;
    background: #2B2B2B
}

.hljs-subst, .hljs-title {
    font-weight: normal;
    color: #FFC66D
}

.hljs-comment, .hljs-quote {
    color: #808080;
    font-style: italic
}

.hljs-meta {
    color: #BBB529
}

.hljs-section, .hljs-name, .hljs-literal, .hljs-keyword, .hljs-selector-tag, .hljs-type, .hljs-selector-id, .hljs-selector-class {
    font-weight: bold;
    color: #CC7832
}

.hljs-attribute, .hljs-number, .hljs-regexp, .hljs-link {
    font-weight: bold;
    color: #6897BB
}

.hljs-number, .hljs-regexp, .hljs-link {
    font-weight: normal
}

.hljs-string {
    color: #6A8759;
}

.hljs-symbol, .hljs-bullet, .hljs-formula {
    color: #467CDA;
    font-style: italic
}

.hljs-doctag {
    text-decoration: underline
}

.hljs-variable, .hljs-template-variable {
    color: #9876AA
}

.hljs-addition {
    background: #447152
}

.hljs-deletion {
    background: #8F5247
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}